[submodule "tools/mingw-bundledlls"]
	path = tools/mingw-bundledlls
	url = https://github.com/zt-luo/mingw-bundledlls.git
[submodule "libs/QHotkey"]
	path = libs/QHotkey
	url = https://github.com/Skycoder42/QHotkey.git
[submodule "libs/fflua"]
	path = libs/fflua
	url = https://github.com/cocom-official/fflua.git
[submodule "libs/usb/QtUsb"]
	path = libs/usb/QtUsb
	url = https://github.com/fpoussin/QtUsb.git
