QToolBar{
    background-color: rgb(255, 255, 255);
}

QToolBar#findToolBar{
    background-color: rgb(255, 255, 255);
    border-top: 2px solid #cfcfcf;
    border-bottom: 2px solid #cfcfcf;
    border-left: 2px solid #cfcfcf;
    border-right: 2px solid #cfcfcf;
}
